* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  background: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  border-bottom: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background: rgba(0, 8, 20, 0.95);
  backdrop-filter: blur(10px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  z-index: 1000;

}

/* ❤️ Favourite button */
.fav-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: 1px solid #251c1c;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 13px;
  cursor: pointer;
  color: #fff;
}

.fav-btn::before {
  font-size: 14px;
  color: #a855f7;
}


/* LOGO */
.logo {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #111;
}

.logo span {
  margin-left: 6px;
  font-weight: 600;
  color: black;
}

/* NAV */
.navbar nav {
  display: flex;
  align-items: center;
  gap: 22px;
  position: relative;
}

/* 🔍 Search icon before Home
.navbar nav::before {
  content: "🔍";
  font-size: 14px;
  opacity: 0.6;
} */

/* Search Button */
.search-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding: 6px 10px;
  opacity: 0.7;
  transition: 0.3s ease;
}

.search-btn:hover {
  opacity: 1;
  transform: scale(1.15);
}


/* Links */
.navbar nav a {
  text-decoration: none;
  font-size: 13px;
  color: #fffefe;
  position: relative;
}

/* Underline on hover */
.navbar nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: #111;
  transition: 0.3s;
}

.navbar nav a:hover::after {
  width: 100%;
}

/* 🚪 Logout icon (after About Us) */
.navbar nav a:last-child::after {
  display: none;
}

.navbar nav a:last-child {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar nav a:last-child::after {
  content: "⎋";
  font-size: 16px;
}
/* Keep original layout untouched */

.nav-links {
  display: flex;
  justify-content: flex-end;
}

/* Gooey wrapper */
.gooey-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 28px;
  right: -123px;
}

/* Links */
.gooey-wrapper a {
  position: relative;
  z-index: 3;
  text-decoration: none;
  color: white;
  padding: 6px 14px;
  transition: 0.3s;
}

/* Active link */
.gooey-wrapper a.active {
  color: #021b79;
  font-weight: 600;
}

/* Blob */
.gooey-blob {
  position: absolute;
  height: 34px;
  background: white;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0;
  z-index: 1;
  transition: all 0.4s ease;
}